body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
.halfscreen {
  width: 100vw;
  height: 50vh;
}
.quarter3Screen {
  width: 100vw;
  height: 75vh;
}
#header {
  background-color: #FDF8F5;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  font-family: 'Muli';
  color: #266150;
}
#nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-self: flex-start;
  gap: 25px;
}
#landingPage {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #DDAF94;
}
#landingTitle {
  color: #F3F3F3;
  font-family: Muli;
  font-size: 10em;
  font-weight: 500px;
  margin-bottom: 500px;
  padding: 5%;
  background-color: rgb(79 72 70);
  z-index: 1000;
}
#landing-image.MuiPaper-root {
  width: 45vw;
  height: 50vh;
  margin-bottom: 10vh;
}
.MuiCardMedia-root.lake {
  height: 800px;
}
#landing-text .MuiButton-label {
  border: none;
  font-family: Muli;
  font-weight: bold;
  background-color: #266150;
  width: 10vw;
  height: 5vh;
}
#landing-text p {
  color: #FDF8F5;
  font-size: 3em;
  padding: 5%;
  z-index: 1000;
  background-color: rgb(79 72 70);
  margin-top: 125px;
}
#landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services {
  display: grid;
  grid-template-areas:
  'title'
  'card';
  align-items: center;
  justify-items: center;
  background-color: #DDAF94;
  background: repeating-linear-gradient(#DDAF94, #DDAF94 74.9%, #FDF8F5 75.1%, #FDF8F5 100%);
  overflow: hidden;
}
.services-title {
  grid-area: title;
  text-align: center;
  font-size: 7em;
  color: #F3F3F3;
  font-family: 'Cormorant';
}

#service-content #service-slide-div {
  display: inline-flex;
  gap: 25px;
  margin-top: 10vh;
}
#service-content .MuiPaper-root h1 {
  font-weight: bolder;
  font-size: 1.5em;
}
#service-content h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
}
#service-slide-div .MuiPaper-root {
  width: 20vw;
  height: 40vh;
  text-align: center;
  background-color: #266150;
  border-radius: 5%;
}
#service-slide-div .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  color: #F3F3F3;
  font-family: 'Muli';
  font-size: 2em;
  gap: 1vh;
}

.MuiButton-label {
  background-color: #266150;
  padding: 12px 24px;
  color: white;
  border: 1px solid;
  line-height: 1.5;
  border-radius: 5px;
  font-size: 1.5em;
}
#about-page {
  display: grid;
  grid-template-areas:
  'header header'
  'image para';
  align-items: center;
  background-color: #FDF8F5;
  font-family: 'Muli';
}
#about-title {
  font-size: 4em
}
.about-heading {
  grid-area: header;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  text-align: center;
  font-size: 2em;
  color: #4F4846;
  font-family: 'Cormorant'
}
#about-text {
  margin: auto;
}
#about-content {
  margin-bottom: 25vh;
  display: grid;
  grid-template-areas:
  'image text'
  'btn .';
  align-items: center;
  justify-items: center;
}
#about-content .MuiPaper-root {
  grid-area: image;
  width: 30vw;
  height: 40vh;
  margin-left: 25%;
  background-color: #F3F3F3;
}
.about-para {
  grid-area: text;
  text-align: left;
  font-size: 1.5em;
  width: 75%;
  background-color: #DDAF94;
  color: #4F4846;
  padding: 50px;
}
#about-page .btnDiv {
  width: 50%;
  align-self: center;
  grid-area: btn;
  margin-top: 25px;
}
form {
  font-size: 0.8em;
}
.carousel {
/*   background-color: rgb(232 206 191 / 0.5); */
  height: 50vh;
  color: #4F4846;
  text-align: center;
}
#testimonials-page h1 {
  font-family: 'Cormorant';
}
.carousel h3 {
  margin-top: 5vh;
  font-size: 2.5em;
  font-style: italic;
  font-family: 'Muli';
}
.carousel p {
  width: 50%;
  margin: 5vh auto 0;
  font-size: 2em;
  font-family: 'Cormorant';
}
.carousel-content {
  display: grid;
  grid-template-areas:
    'title'
    'para'
    'image'
    'name';
  justify-items: center;
}
.carousel span {
  grid-area: name;
  margin-top: 1vh;
  font-family: 'Cormorant';
  font-size: 1.5em;
}
.carousel img {
  grid-area: image;
  margin-top: 4vh;
  width: 10vw;
}
div.carousel-item.active {
  height: 100vh;
}

input[type=text] {
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 75%;
  height: 250px;
}
#testimonials-page {
  background-color: #FDF8F5;
}
#testimonials-page svg:nth-child(2) {
  width: 100vw;
}
#testimonials-page .MuiPaper-root {
  width: 50vw;
  height: 50vh;
  margin: auto;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#testimonials-page h1 {
  text-align: center;
  font-size: 7em;
  color: #266150;

}

#footer {
  display: grid;
  grid-template-areas: 'contact contact line resources resources';
  align-items: center;
  background-color: #788fff;
  font-family: 'Marcellus';
}
#footer-form {
  grid-area: contact;
  margin: auto;
}
#contact-form {
  display: grid;
  grid-template-areas:
    'name company'
    'email phone'
    'subject subject'
    'message message'
    'button button';
  grid-gap: 0.5em;
  align-items: center;
}
#contact-name {
  grid-area: name;
}
#contact-company {
  grid-area: company;
}
#contact-email {
  grid-area: email;
}
#contact-phone {
  grid-area: phone;
}
#contact-subject {
  grid-area: subject;
}
#contact-message {
  grid-area: message;
}
#contact-form button {
  grid-area: button;
}
input[type=text] {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea[name=message] {
  width: 500px;
}
#footer-vl {
  grid-area: line;
  border-left: 1px solid black;
  height: 500px;
}
#footer-resources {
  grid-area: resources;
}