body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
.halfscreen {
  width: 100vw;
  height: 50vh;
}
#header {
  background-color: #932432;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  font-family: 'Muli';
  color: #F3F3F3;
}
#nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-self: flex-start;
  gap: 25px;
}
#landingPage {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  background-color: #932432;
}
#landingTitle {
  color: #F3F3F3;
  font-family: Muli;
  font-size: 10em;
  font-weight: 500px;
  margin-bottom: 500px;
  padding: 5%;
  background-color: rgba(92, 95, 88, 0.5);
  z-index: 1000;
}
#landing-image.MuiPaper-root {
  width: 45vw;
  height: 50vh;
  margin-bottom: 10vh;
}
.MuiCardMedia-root.lake {
  height: 800px;
}
#landing-text .MuiButton-label {
  border: none;
  font-family: Muli;
  font-weight: bold;
  background-color: #3C1874;
}
#landing-text p {
  color: #283747;
  font-size: 3em;
  padding: 5%;
  z-index: 1000;
  background-color: #F3F3F3;
  margin-top: 125px;
}
#landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services {
  display: grid;
  grid-template-areas:
  'title'
  'card';
  align-items: center;
  justify-items: center;
  background: repeating-linear-gradient(#932432, #932432 49.9%, #F3F3F3 50.1%, #F3F3F3 100%);
  overflow: hidden;
}
.services-title {
  grid-area: title;
  text-align: center;
  font-size: 5em;
  color: #F3F3F3;
}

#service-content #service-slide-div {
  display: inline-flex;
  gap: 25px;
  margin-top: 150px;
}

#service-slide-div .MuiPaper-root {
  width: 20vw;
  height: 40vh;
  text-align: center;
  background-color: #3C1874;
  border-radius: 5%;
}
#service-slide-div .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  color: #F3F3F3;
  font-family: 'Muli';
  font-size: 1.5em;
}

.MuiButton-label {
  background-color: #3C1874;
  padding: 12px 24px;
  color: white;
  border: 1px solid;
  line-height: 1.5;
  border-radius: 5px;
  font-size: 1.5em;
}
#about-page {
  display: grid;
  grid-template-areas:
  'header header'
  'image para';
  align-items: center;
  background-color: #F3F3F3;
  font-family: 'Muli';
}
.about-heading {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2em;
  color: #283747;
}
#about-text {
  margin: auto;
}
#about-content {
  display: grid;
  grid-template-areas:
  'image text'
  'btn .';
  align-items: center;
  justify-items: center;
  margin-bottom: 250px;
}
#about-content .MuiPaper-root {
  grid-area: image;
  width: 30vw;
  height: 40vh;
  margin-left: 25%;
  background-color: #F3F3F3;
}
.about-para {
  grid-area: text;
  text-align: left;
  font-size: 1.5em;
  width: 75%;
  background-color: #932432;
  color: #F3F3F3;
  padding: 50px;
}
#about-page .btnDiv {
  width: 50%;
  align-self: center;
  grid-area: btn;
  margin-top: 25px;
  margin-left: 325px;
}
form {
  font-size: 0.8em;
}
input[type=text] {
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 75%;
  height: 250px;
}
#footer {
  display: grid;
  grid-template-areas: 'contact contact line resources resources';
  align-items: center;
  background-color: #788fff;
  font-family: 'Marcellus';
}
#footer-form {
  grid-area: contact;
  margin: auto;
}
#contact-form {
  display: grid;
  grid-template-areas:
    'name company'
    'email phone'
    'subject subject'
    'message message'
    'button button';
  grid-gap: 0.5em;
  align-items: center;
}
#contact-name {
  grid-area: name;
}
#contact-company {
  grid-area: company;
}
#contact-email {
  grid-area: email;
}
#contact-phone {
  grid-area: phone;
}
#contact-subject {
  grid-area: subject;
}
#contact-message {
  grid-area: message;
}
#contact-form button {
  grid-area: button;
}
input[type=text] {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea[name=message] {
  width: 500px;
}
#footer-vl {
  grid-area: line;
  border-left: 1px solid black;
  height: 500px;
}
#footer-resources {
  grid-area: resources;
}